.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &-icon {
    justify-content: right;
  }

  &-list {
    display: flex;
    align-items: center;

    &-item {
      width: fit-content;
    }
  }
}
